@use '../../styles/vars';

.photos {
  margin-top: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20em;
  padding-right: 20em;
  margin-bottom: 20em;

  &-item {
    margin: 1em;

    &-img {
      border-radius: 5px;
      height: 250px;

      &:hover {
        transform: scale(2.5);
        transition: .3s;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .photos {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media screen and (max-width: 850px) {
  .photos {
    margin-top: 10vh;

    &-item-img {
      width: 80vw;
      height: auto;

      &:hover {
        transform: scale(1);
      }
    }
  }
}