@use '../../styles/vars';

.photos {
  padding: 20em;

  &-cats {
    z-index: 2;
    text-align: center;

    &-button {
      padding: 0.5em;
      font-size: 1.5em;
      margin: 1em;
      margin-bottom: 2em;
      border: none;
      border-radius: 5px;

      &:active {
        transition: .1s;
        transform: scale(0.8);
      }

      &-poupette:hover {
        background-color: #00000085;
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &-item {
      margin: 1em;

      &-img {
        border-radius: 5px;
        height: 250px;

        &:hover {
          transform: scale(2.5);
          transition: .3s;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .photos {
    padding: 5em;
  }
}

@media screen and (max-width: 1050px) {
  .photos {
    &-cats {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      background-color: rgb(37, 37, 37);
      display: flex;
      justify-content: space-evenly;

      &-button {
        font-size: 1em;
        margin-bottom: 1em;

        &:hover {
          transform: scale(1);
        }
      }
    }
  
    &-list {
      margin-top: 10vh;
      z-index: 1;

      &-item-img {
        width: 80vw;
        height: auto;

        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .photos-cats {
    font-size: 0.8em;
  }
}