@use '../../styles/vars';

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: vars.$white;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &-title {
    font-size: 2em;
    font-weight: bold;
  }

  &-subtitle {
    margin: 1em;
  }

  &-buttons {
    display: flex;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2em;
      padding: 0.5em;
      position: relative;

      &-img {
        height: 1.5em;
        margin-bottom: 0.5em;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        border: 2px solid transparent;
      }

      &:hover {
        transform: scale(0.95);
        transition: .2s;

        &:after {
          animation: hover .3s linear forwards;
          z-index: -1;
        }
      }
    }
  }
}

.navActive {
  border-bottom: 2px solid rgb(178, 39, 206);
}

@media screen and (max-width: 850px) {
  .nav {
    height: auto;
    padding: 0;

    &-title, &-subtitle {
      display: none;
    }

    &-buttons {
      width: 100vw;
      justify-content: space-evenly;

      &-item {
        margin: 0;
      }
    }
  }
}

@keyframes hover {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    border-bottom-color: rgb(224, 39, 153);
  }
}